<div class="simple-card">
  <h2 class="simple-card__title">
    {{ title }}
  </h2>

  <p class="simple-card__description">
    {{ description }}
  </p>

  <a href="{{ button_url }}">
    {{ button }}
  </a>
</div>
